<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All task</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label>{{ task.name }}</ion-label>
      <!-- <ion-checkbox [(ngModel)]="todo.completed" (ionChange)="toggleCompletion(i)"></ion-checkbox> -->
      <ion-button color="danger" (click)="removeTask(task.id)" slot="end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>


  <ion-item>
    <ion-input placeholder="New Task" [(ngModel)]="newTask"></ion-input>
    <ion-button color="primary" (click)="addTask()" slot="end">Dodaj</ion-button>
  </ion-item>


</ion-content>